<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>筑梦资讯</title>
    <link rel="stylesheet" type="text/css" href="/static/style/lrtkzixun.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/guanyu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/dingzhi.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/zixun.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/koala.min.1.5.js"></script>
    <script type="text/javascript" src="/static/js/terminator2.2.min.js"></script>

</head>

<body>
<div id="header">
    <div id="huanying">
        <div class="huanying_con">
            <p>欢迎来到某某公司</p>
            <ul>
                <li><a href="#">官方微信</a></li>
                <li><a href="#">收藏本站</a></li>
                <li><a style="padding-right:0; background:none" href="#">English</a></li>
            </ul>
        </div>
    </div>
    <div id="logo">
        <div class="logo_con">
            <div class="logo">
                <a href="index.html"><img src="/static/images/logo_s.png"/></a>
            </div>
            <div class="logo_r">
                <p>免费咨询热线：0588-9988-988</p>
                <form action="{% url 'jiaju:article_search' %}" method="post">
                    {% csrf_token %}
                    <input type="search" name="keyword" value="请输入搜索产品" onfocus="if(this.value=='请输入搜索产品')this.value=''"
                           onblur="if(this.value=='')this.value='请输入搜索产品'"/>
                    <a href="#">
                        <img src="/static/images/z_sousuo.jpg"style="opacity: 0;"/>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div id="nav">
        <div class="nav_con_gb">
            <ul class="nav_con">
                <li>
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:index' %}">首页</a>
                        <a href="{% url 'jiaju:index' %}">首页</a>
                    </div>
                </li>

                <li>
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:index' %}">关于我们</a>
                        <a href="{% url 'jiaju:index' %}">关于我们</a>
                    </div>
                </li>

                <li>
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:zhanshi' %}">产品展示</a>
                        <a href="{% url 'jiaju:zhanshi' %}">产品展示</a>
                    </div>
                </li>
                <li>
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:dingzhi' %}">在线定制</a>
                        <a href="{% url 'jiaju:dingzhi' %}">在线定制</a>
                    </div>
                </li>
                <li>
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:dongtai' %}">实时动态</a>
                        <a href="{% url 'jiaju:dongtai' %}">实时动态</a>
                    </div>
                </li>
                <li class="shouye">
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:zixun' %}">筑梦资讯</a>
                        <a href="{% url 'jiaju:zixun' %}">筑梦资讯</a>
                    </div>
                </li>
                <li>
                    <div class="nav_con_sy">
                        <a href="{% url 'jiaju:lianxiwomen' %}">联系我们</a>
                        <a href="{% url 'jiaju:lianxiwomen' %}">联系我们</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="zx_banner">
        <!--<div class="ab_banner_con">
          <div class="ab_banner_con_k">
            <img src="/static/images/ab_banner_wz.png" />
          </div>
        </div>-->
    </div>
</div>
<div id="ab_guanyu">
    <div class="ab_guanyu_xg">
        <div class="ab_guanyu_xg_d">
            <div class="ab_guanyu_bt">
                <img src="/static/images/zx_wenzi1.jpg"/>
                <h2><img src="/static/images/zx_wenzi2.jpg"/></h2>
                <span>有信心的人，可以化渺小为伟大，化平庸为神奇。</span>
            </div>
        </div>
    </div>
</div>
<div id="zx">
    <div class="zx_con">

        <a href="shishidongtai.html">
            <div class="zx_con_one">
                {#                {% for zhumeng in zhumeng_list %}#}
                <h2>筑梦动态</h2>
                <div class="zx_con_one_tu">
                    <!-- 代码 开始 -->
                    <div id="fsD1" class="focus">
                        <div id="D1pic1" class="fPic">
                            {% for zhumeng in new_zhumeng_list %}
                                <div class="fcon" style="display: none;">
                                    <a target="_blank" href="{% url 'jiaju:getdongtai' zhumeng.id %}"><img
                                            src="/{{ zhumeng.nimage }}"
                                            style="opacity: 1; "></a>
                                    <span class="shadow"><a target="_blank"
                                                            href="http://ln.qq.com/a/20140625/015503.htm">{{ zhumeng.ntitle }}</a></span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="fbg">
                            <div class="D1fBt" id="D1fBt">
                                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a>
                                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>
                                <a href="javascript:void(0)" hidefocus="true" target="_self"
                                   class="current"><i>3</i></a>
                                <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>
                            </div>
                        </div>
                        <span class="prev"></span>
                        <span class="next"></span>
                    </div>
                    <script type="text/javascript">
                        Qfast.add('widgets', {path: "/static/js/terminator2.2.min.js", type: "js", requires: ['fx']});
                        Qfast(false, 'widgets', function () {
                            K.tabs({
                                id: 'fsD1',   //焦点图包裹id
                                conId: "D1pic1",  //** 大图域包裹id
                                tabId: "D1fBt",
                                tabTn: "a",
                                conCn: '.fcon', //** 大图域配置class
                                auto: 1,   //自动播放 1或0
                                effect: 'fade',   //效果配置
                                eType: 'click', //** 鼠标事件
                                pageBt: true,//是否有按钮切换页码
                                bns: ['.prev', '.next'],//** 前后按钮配置class
                                interval: 3000  //** 停顿时间
                            })
                        })
                    </script>
                    <!-- 代码 结束 -->
                </div>
            </div>
        </a>
        {% for hangnei in new_hangnei_list %}
            <a href="{% url 'jiaju:getdongtai' hangnei.ncategory.id %}">
                <div class="zx_con_two">
                    <img src="/{{ hangnei.nimage }}" style="width: 286px;height: 187px;">
                    <h2>{{ hangnei.ncategory.nctitle }}</h2>
                    <p>{{ hangnei.newcontent }}</p>
                </div>
            </a>
        {% endfor %}
        {#        <a href="#">#}
        {#            <div class="zx_con_three">#}
        {#                <h2>常见问答</h2>#}
        {#                <ul>#}
        {#                    <li>#}
        {#                        <span>问：【生活小窍门】办公家具的保养和清洁</span>#}
        {#                        <p>#}
        {#                            答：日常生活中，我们常常要对办公家具进行清洁和保养，以使它们保持亮泽。但是你也许不知道，一些错误的清洁保养方法，虽然暂时能让我们的家具变干净，但实际上却对家具造成了潜在的伤害，随着使用时间的增加，你的家具便会出现无法弥补的问题。</p>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#        </a>#}
        {#        <a href="{url 'jiaju:detail% '%}">#}
        {#            {% for zhumeng in zhumeng_list %}#}
        {#                <div class="zx_con_four">#}
        {#                    <img src="/{{ zhumeng.nimage }}" style="width: 575px;height: 175px;"/>#}
        {#                    <span>{{ zhumeng.ntitle }}</span>#}
        {#                    <p>{{ zhumeng.newcontent }}</p>#}
        {#                </div>#}
        {#            {% endfor %}#}
        </a>
    </div>
</div>


<div id="footer">
    <div class="footer_con">
        <a href="index.html">
            <img src="/static/images/logox.jpg"/>
        </a>
        <span>Copyright © 2014 某某家具 All Rights Reserved . 技术支持：</span>
    </div>
</div>
</body>
</html>
